@font-face {
  font-family: 'tw-icon-file';
  src:  url('fonts/tw-icon.eot?ggkom3');
  src:  url('fonts/tw-icon.eot?ggkom3#iefix') format('embedded-opentype'),
  url('fonts/tw-icon.ttf?ggkom3') format('truetype'),
  url('fonts/tw-icon.woff?ggkom3') format('woff'),
  url('fonts/tw-icon.svg?ggkom3#tw-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}


[class^="tw-icon-"], [class*=" tw-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'tw-icon-file';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tw-icon-addcolleague:before {
  content: "\e601";
}
.tw-icon-add:before {
  content: "\e602";
}
.tw-icon-arrow-down:before {
  content: "\e603";
}
.tw-icon-arrow-left:before {
  content: "\e604";
}
.tw-icon-arrow-right:before {
  content: "\e605";
}
.tw-icon-arrow-up:before {
  content: "\e606";
}
.tw-icon-attachment:before {
  content: "\e607";
}
.tw-icon-calendar:before {
  content: "\e608";
}
.tw-icon-camera:before {
  content: "\e609";
}
.tw-icon-chat:before {
  content: "\e60a";
}
.tw-icon-check-mark:before {
  content: "\e60b";
}
.tw-icon-close:before {
  content: "\e60c";
}
.tw-icon-collapse:before {
  content: "\e60d";
}
.tw-icon-colleague:before {
  content: "\e60e";
}
.tw-icon-column-view:before {
  content: "\e60f";
}
.tw-icon-dashboard:before {
  content: "\e610";
}
.tw-icon-email:before {
  content: "\e611";
}
.tw-icon-exclamation-mark:before {
  content: "\e612";
}
.tw-icon-export:before {
  content: "\e613";
}
.tw-icon-full-star:before {
  content: "\e614";
}
.tw-icon-hamburger:before {
  content: "\e615";
}
.tw-icon-info-tip:before {
  content: "\e616";
}
.tw-icon-list-view:before {
  content: "\e617";
}
.tw-icon-lock:before {
  content: "\e618";
}
.tw-icon-new-chat:before {
  content: "\e619";
}
.tw-icon-note:before {
  content: "\e61a";
}
.tw-icon-notification:before {
  content: "\e61b";
}
.tw-icon-open-panel:before {
  content: "\e61c";
}
.tw-icon-password:before {
  content: "\e61d";
}
.tw-icon-pen:before {
  content: "\e61e";
}
.tw-icon-pic:before {
  content: "\e61f";
}
.tw-icon-print:before {
  content: "\e620";
}
.tw-icon-private:before {
  content: "\e621";
}
.tw-icon-project-archives:before {
  content: "\e622";
}
.tw-icon-project:before {
  content: "\e623";
}
.tw-icon-public:before {
  content: "\e624";
}
.tw-icon-reload:before {
  content: "\e625";
}
.tw-icon-reminder:before {
  content: "\e626";
}
.tw-icon-repeat:before {
  content: "\e627";
}
.tw-icon-search:before {
  content: "\e628";
}
.tw-icon-setting:before {
  content: "\e629";
}
.tw-icon-share-mobile:before {
  content: "\e62a";
}
.tw-icon-share:before {
  content: "\e62b";
}
.tw-icon-social-box-2:before {
  content: "\e62c";
}
.tw-icon-social-box:before {
  content: "\e62d";
}
.tw-icon-social-dropbox-2:before {
  content: "\e62e";
}
.tw-icon-social-dropbox:before {
  content: "\e62f";
}
.tw-icon-social-facebook-2:before {
  content: "\e630";
}
.tw-icon-social-facebook:before {
  content: "\e631";
}
.tw-icon-social-google-2:before {
  content: "\e632";
}
.tw-icon-social-google-drive-2:before {
  content: "\e633";
}
.tw-icon-social-google-drive:before {
  content: "\e634";
}
.tw-icon-social-google:before {
  content: "\e635";
}
.tw-icon-social-linkedin-2:before {
  content: "\e636";
}
.tw-icon-social-linkedin:before {
  content: "\e637";
}
.tw-icon-social-twitter-2:before {
  content: "\e638";
}
.tw-icon-social-twitter:before {
  content: "\e639";
}
.tw-icon-sorting:before {
  content: "\e63a";
}
.tw-icon-star:before {
  content: "\e63b";
}
.tw-icon-tag:before {
  content: "\e63c";
}
.tw-icon-task-archives:before {
  content: "\e63d";
}
.tw-icon-task:before {
  content: "\e63e";
}
.tw-icon-time:before {
  content: "\e63f";
}
.tw-icon-trash:before {
  content: "\e640";
}
.tw-icon-unlock:before {
  content: "\e641";
}
.tw-icon-workspace:before {
  content: "\e642";
}
.tw-icon-filter:before {
  content: "\e643";
}
.tw-icon-comment:before {
  content: "\e644";
}
.tw-icon-arrow2-up:before {
  content: "\e645";
}
.tw-icon-arrow2-down:before {
  content: "\e646";
}
.tw-icon-arrow2-left:before {
  content: "\e647";
}
.tw-icon-arrow2-right:before {
  content: "\e648";
}
.tw-icon-check-mark-bold:before {
  content: "\e649";
}
.tw-icon-minus:before {
  content: "\e64a";
}
.tw-icon-drag:before {
  content: "\e64b";
}
.tw-icon-other:before {
  content: "\e64c";
}
.tw-icon-emoticon:before {
  content: "\e64d";
}
.tw-icon-exit-full-screen:before {
  content: "\e64e";
}
.tw-icon-full-screen:before {
  content: "\e64f";
}
.tw-icon-arrow-circle:before {
  content: "\e650";
}
.tw-icon-task-list:before {
  content: "\e651";
}
.tw-icon-drug:before {
  content: "\e652";
}
.tw-icon-google-plus:before {
  content: "\e653";
}
.tw-icon-curve-arrow-down:before {
  content: "\e654";
}
.tw-icon-bucket:before {
  content: "\e655";
}
.tw-icon-check-list:before {
  content: "\e656";
}
.tw-icon-subtask:before {
  content: "\e657";
}
.tw-icon-table-left:before {
  content: "\e658";
}
.tw-icon-table-down:before {
  content: "\e659";
}
.tw-icon-table-right:before {
  content: "\e65a";
}
.tw-icon-download:before {
  content: "\e65b";
}
.tw-icon-press:before {
  content: "\e65c";
}
.tw-icon-preview:before {
  content: "\e65d";
}
.tw-icon-send:before {
  content: "\e65e";
}
.tw-icon-power:before {
  content: "\e65f";
}
.tw-icon-leave-panel:before {
  content: "\e660";
}
.tw-icon-slide-left:before {
  content: "\e661";
}
.tw-icon-slide-right:before {
  content: "\e662";
}
.tw-icon-chevron-left:before {
  content: "\e663";
}
.tw-icon-chevron-right:before {
  content: "\e664";
}
.tw-icon-chevron-up:before {
  content: "\e665";
}
.tw-icon-chevron-down:before {
  content: "\e666";
}
.tw-icon-file-doc:before {
  content: "\e667";
}
.tw-icon-home-line:before {
  content: "\e668";
}
.tw-icon-home-full:before {
  content: "\e669";
}
.tw-icon-table:before {
  content: "\e66a";
}
.tw-icon-table1:before {
  content: "\e66b";
}
.tw-icon-information:before {
  content: "\e66c";
}
.tw-icon-task-list-1:before {
  content: "\e66d";
}
.tw-icon-video:before {
  content: "\e66e";
}
.tw-icon-audio:before {
  content: "\e66f";
}
.tw-icon-activity:before {
  content: "\e672";
}
.tw-icon-admin:before {
  content: "\e900";
}
.tw-icon-cake:before {
  content: "\e901";
}
.tw-icon-crown:before {
  content: "\e902";
}
.tw-icon-department:before {
  content: "\e903";
}
.tw-icon-description:before {
  content: "\e904";
}
.tw-icon-exclamation-mark-full:before {
  content: "\e905";
}
.tw-icon-grid-view:before {
  content: "\e906";
}
.tw-icon-role/occupation:before {
  content: "\e907";
}
.tw-icon-call:before {
  content: "\e908";
}
.tw-icon-location:before {
  content: "\e909";
}
.tw-icon-warning:before {
  content: "\e90a";
}
.tw-icon-android:before {
  content: "\e90b";
}
.tw-icon-new-tab:before {
  content: "\e90c";
}
.tw-icon-apple:before {
  content: "\e90d";
}
.tw-icon-mute:before {
  content: "\e90e";
}
.tw-icon-feedback:before {
  content: "\e90f";
}
.tw-icon-hourglass:before {
  content: "\e910";
}
.tw-icon-link:before {
  content: "\e911";
}
.tw-icon-pin:before {
  content: "\e912";
}
.tw-icon-vertical-dots:before {
  content: "\e913";
}
.tw-icon-computer:before {
  content: "\e914";
}
.tw-icon-rich_bold:before {
  content: "\e915";
}
.tw-icon-rich_italic:before {
  content: "\e916";
}
.tw-icon-rich_underline:before {
  content: "\e917";
}
.tw-icon-rich_strive_thru:before {
  content: "\e918";
}
.tw-icon-rich_link:before {
  content: "\e919";
}
.tw-icon-rich_quote:before {
  content: "\e91a";
}
.tw-icon-rich_code:before {
  content: "\e91b";
}
.tw-icon-rich_ul:before {
  content: "\e91c";
}
.tw-icon-rich_ol:before {
  content: "\e91d";
}
.tw-icon-rich_attach:before {
  content: "\e91e";
}
.tw-icon-markasread:before {
  content: "\e91f";
}
.tw-icon-gif:before {
  content: "\e920";
}
.tw-icon-image_drag:before {
  content: "\e921";
}



/** WEBPACK FOOTER **
 ** webpack:///src/tw-uikit/Icon.css
 **/